/* CSS Document */

html,body{
height:100%;
width:100%;
margin:0;
overflow:hidden;
/*
background:#800080;
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#800080), to(#fafafa));¹È¸è
background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #15A216),color-stop(1, #fafafa));Safari & Chrome*
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa'); IE6 & IE7
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa')";  IE8 
*/
}
div.panel{
width:32%;
height:40%;
background:#CDCDCD;
filter:alpha(opacity=65);
-moz-opacity:0.65;
opacity:1.0;
margin-left:34%;
margin-right:34%;
margin-top:15%;
margin-bottom:30%;
overflow:hidden;
}
div.title{
	position:relative;
	background:#050505;
	display:block;
	font-family:"ËÎÌå";
	font-size:16px;
	font-weight:bolder;
	color:#FFFFFF;
	width:100%;
	height:10%;
	text-align:center;
	padding-top:3%;
	margin-bottom:10%;
}
div.hspace{
	display:inline-block;
	width:50px;
	background:#FF8000;
}
.text{
display:inline-block;
width:40%;
height:20px;
}

input.button{
display:inline-block;
width:80px;
margin-left:10px;
}
div.button{
padding-left:10%;
}
div.label{
margin-left:20%;
position:relative;
display:inline-block;
width:15%;
height:40px;
display:inline-block;
}
#backimg{
position:absolute;
left:0;
right:0;
width:100%;
height:100%;
z-index:-1;
background-attachment:fixed;
filter:alpha(opacity=35);
-moz-opacity:0.35;
opacity:0.35;
}
#caimg{
position:relative;
width:25px;
height:25px;
}