@charset "utf-8";
/* CSS Document */
html body{
width:100%;
height:100%;
margin:0px;
overflow:hidden;
}
.nav{
position:absolute;width:11%;height:100%;background:#004080;
}
.center{
position:absolute;
left:12%;
width:88%;
height:100%;
}
.navbutton{
position:relative;
width:100%;
height:15%;
display:block;
padding-top:40px;
padding-bottom:0px;
}
.navimg{
width:40px;
height:40px;
}
.headimg{
position:absolute;
width:2%;
height:50%;
display:inline-block;
}
.apptxt{
font-family:"宋体";
font-size:14px;
font-weight:bold;
color:#FFFFFF;
}
hr{
border-bottom-width:thin;
border-bottom-color:#0080C0;
display:block;
margin:0px;
}
div.head{
position:absolute;
float:right;
/*background:#FF8040;*/
width:100%;
height:8%;
padding-top:5px;
}
div.menu{
display:block;
position:absolute;
/*background:#818181;*/
top:10%;
width:100%;
height:8%;
}
div.menuTxt
{
display:inline-block;
text-align:center;
font-family:"宋体";
font-weight:bold;
font-size:12px;
color:#1A1A1A;
position:relative;
width:100px;
height:100%;
top:-40%;
cursor:pointer;
}
hr.vertical{
position:relative;
top:-10px;
width:1px;
height:50%;
display:inline-block;
}
div.ver{
position:relative;
width:5px;
height:100%;
display:inline-block;
left:2px;
}
div.list{
display:block;
position:absolute;
top:16%;
left:1%;
width:98%;
height:84%;
/*background:#8080FF;*/
overflow-x:hiden;
overflow-y:scroll;
scrollbar-arrow-color: #FF8040; /**//*三角箭头的颜色*/
}
div.app{
position:relative;
width:180px;
height:110px;
display:inline-block;
margin-bottom:5px;
margin-left:9px;
padding-left:15px;
}/*
div.appicon{
position:relative;
display:inline-block;
background:#FF8040;
top:20%;
width:160px;
height:60px;
}*/
img.appimg{
position:absolute;
display:inline-block;
width:60px;
height:60px;
left:5px;
top:5px;
}
.imgback{ width:70px; height:70px; background-color:rgba(153,153,102,0.9); position:absolute; left:0px; border-radius:10px;}
ul { display:inline-block; left:-20px; width:100px; height:100%; overflow:hidden; position:absolute; top:5px; left:35px;}
.txt{
display:block;
font:"宋体";
font-size:12px;
font-weight:bold;
color:#0B0B0B;
text-decoration:none;
text-align:left;
}
.download{
display:block;
position:relative;
top:10px;
font-family:"宋体";
font-size:12px;
font-weight:bolder;
color:#804000;
text-align:left;
cursor:pointer;
text-decoration:none;
}
