/* CSS Document */
html,body{
margin:0em;
height:100%;
width:100%;
overflow:hidden;
}

div#head-nav{
position:relative;
padding-left:0px;
padding-right:0px;
height:7%;
width:100%;
background-color:#2F2F2F;
}
div#headall{
display:inline-block;
position:relative;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
div#headtodo{
position:relative;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
div#headdone{
position:relative;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}

div#return{
position:relative;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
div#mouseover{
background:#FF8040;
}


div.content{
	position:relative;
	width:100%;
	height:70%;
	margin-top:5px;
	padding-bottom:20px;
	overflow:hidden;
}
.content-todo{
	position:relative;
	width:100%;
	height:70%;
	margin-top:5px;
	padding-bottom:20px;
	overflow:hidden;
	display:none;
}
.content-done{
	position:relative;
	width:100%;
	height:70%;
	margin-top:5px;
	padding-bottom:20px;
	overflow:hidden;	
	display:none;
}

div#tabs{
	position:relative; top:5px; left:40%;
}

.number{position:absolute; right:0px; top:0px;background-image:url(../img/numback.png); background-repeat:no-repeat}

.number img{width:25px; height:25px; position:absolute; top:7px; right:10px;}
.number div {position:absolute; top:9px; right:20px; z-index:2}

img#back{
position:absolute;
left:0;
right:0;
width:100%;
height:100%;
z-index:-1;
background-attachment:fixed;
filter:alpha(opacity=35);
-moz-opacity:0.35;
opacity:0.35;
}
div.nav{
width:10%;
color:#FFFFFF;
font-size:14px;
font-family:"Times New Roman", Times, serif;
font-weight:bolder;
display:block;
}
div.row{
width:100%;
height:30%;
display:line-block;
margin-left:20px;
margin-right:20px;
}

div.listtext{
position:relative;
float:left;
width:15%;
height:100%;
display:inline-block;
font-size:16px;
font-weight:bold;
color:#050505;
text-align:left;
word-wrap:break-word; 
word-break:normal;
overflow:hidden;
text-overflow: ellipsis;
}
div.block-right{
display:inline-block;
height:100%;
width:2px;
float:right;
}
div.block-left{
display:inline-block;
height:100%;
width:85%;
overflow:hidden;
word-wrap:break-word; 
word-break:normal;
margin-top:5px;
padding-left:20px;
cursor:pointer;
background:#D4D4D4;

filter:alpha(opacity=65);
-moz-opacity:0.65;
opacity:0.65;
}
hr.hor{
position:relative;
width:90%;
}
hr.vertical{
width:1px;
height:100%;
display:inline-block;
float:right;
}

div.hspace{
width:100%;
height:5px;
}
  
.item{
	position:relative;width:15%; height:150px; background:rgba(153,153,102,50); display:inline-block;
	margin:5px 5px 5px 5px; padding:50px 0px 10px 0px; overflow:hidden;
}
a.itembutton{
	position:absolute;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0;top:0; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a.itembutton-todo{
	position:absolute;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0;top:0; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a.itembutton-done{
	position:absolute;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0;top:0; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a:hover{ color:#00F;}

.item div { color:#000; font-size:12px; font-weight:300; padding: 0px 5px 15px 5px; word-break:break-all; word-wrap:normal; overflow:hidden}
.applyimg{width:30px; height:30px; position:absolute; top:2px; left:20px;}
.jPaginatorOver {
            float:left;
            width:30px;
            height:20px;
            background-color:#BCF2D5;
            text-align:center;
            margin:0 2px 0 2px;
        }
.jPaginatorMax {
            float:left;
            width:30px;
            height:20px;
            background-color:#5FAABC;
            cursor:pointer;
            text-align:center;
        }

.debug{position:absolute; top:200px; left:50px; width:700px; height:400px; background-color:#966; z-index:3; display:none; overflow:scroll}