/* CSS Document */
html,body{
margin:0em;
height:100%;
width:100%;
}
div#head-nav{
padding-left:0px;
padding-right:0px;
height:40px;
width:100%;
background-color:#2F2F2F;
}
div#all{
position:absolute;
left:35%;
padding-top:10px;
padding-bottom:10px;
cursor:pointer;
}
div#todo{
position:absolute;
left:45%;
padding-top:10px;
padding-bottom:10px;
cursor:pointer;
}
div#done{
position:absolute;
left:55%;
padding-top:10px;
padding-bottom:10px;
cursor:pointer;
}

div#mouseover{
background:#FF8040;
}


div#content{
	position:absolute;
	width:100%;
	height:100%;
	padding-left:10%;
	padding-right:10%;
}
div img{
position:absolute;
left:0;
right:0;
width:100%;
height:100%;
z-index:-1;
filter:alpha(opacity=35);
-moz-opacity:0.35;
opacity:0.35;
}
div a{
color:#FFFFFF;
display:block;
font-family:"ו";
font-size:14px;
font-family:"Times New Roman", Times, serif;
font-weight:bolder;
}
div.nav{
width:10%;
color:#FFFFFF;
font-size:14px;
font-family:"Times New Roman", Times, serif;
font-weight:bolder;
display:block;
}
div.row{
width:100%;
height:30%;
display:line-block;
}

div.listtext{
position:relative;
float:left;
width:19%;
height:100%;
display:inline-block;
font-size:16px;
font-weight:bold;
color:#050505;
text-align:left;
word-wrap:break-word; 
word-break:normal;
overflow:hidden;
text-overflow: ellipsis;
filter:alpha(opacity=75);
-moz-opacity:0.75;
opacity:0.75;
}
div.block-right{
display:inline-block;
height:100%;
width:2px;
float:right;
}
div.block-left{
display:inline-block;
height:100%;
width:80%;
overflow:hidden;
word-wrap:break-word; 
word-break:normal;
margin-top:5px;
margin-right:20px;
cursor:pointer;
}

hr.vertical{
width:1px;
height:100%;
display:inline-block;
float:right;
}

div.hspace{
width:100%;
height:5px;
}
