/* CSS Document */
html,body{
	position:absolute; left:0px; right:0px;
height:100%;
width:100%;
overflow:hidden;
background-color:#666;
}
.logo{ position: absolute; left:5px; top:15px; font-size:14px; height:50px; font-weight:bolder; color:#FF0}
div#head-nav{
position:relative;
padding-left:0px;
padding-right:0px;
height:7%;
width:100%;
background-color:#960;
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #2F2F2F));*/
background-image:-webkit-gradient(linear,left top, left bottom , from(#666),color-stop(0.5,#960), to(rgb(0,0,0)));
}
#head-nav a:link { color:#F00}
a.nav{
	position:relative;
width:10%;
height:13px;
color:#FFFFFF;
top:5px;
font-size:14px;
font-family:"Times New Roman", Times, serif;
font-weight:bolder;
display: inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
text-align:center;
}
a.nav2{
	position:absolute;
width:10%;
right:10px;
top:50x;
height:20px;
color:red;
font-size:14px;
font-family:"Times New Roman", Times, serif;
font-weight:bolder;
padding-top:13px;
padding-bottom:15px;
display:inline-block;
cursor:pointer;
}/*
div#headall{
display:inline-block;
position:relative;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
div#headtodo{
position:relative;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
div#headdone{
position:relative;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
cursor:pointer;
}
*/

div#closeapp{
position:absolute;
display:inline-block;
padding-top:10px;
padding-bottom:15px;
right:10px;
background-color:rgba(204,204,204,0);
cursor:pointer;
}
#closeapp img{
	width:30px; height:30px;
}
div#mouseover{
background:#FF8040;
}
div.content{
	position:relative;
	width:100%;
	height:70%;
	margin-top:5px;
	padding-bottom:20px;
	overflow:hidden;
}
#apply,#todo,#done { left:30px}
div#tabs{
	position:relative; top:5px; left:40%;
}

img#back{
position:absolute;
left:0;
right:0;
width:100%;
height:100%;
z-index:-1;
background-attachment:fixed;
filter:alpha(opacity=35);
-moz-opacity:0.35;
opacity:0.35;
}

div.row{
width:100%;
height:30%;
display:line-block;
margin-left:20px;
margin-right:20px;
}

div.listtext{
position:relative;
float:left;
width:15%;
height:100%;
display:inline-block;
font-size:16px;
font-weight:bold;
color:#050505;
text-align:left;
word-wrap:break-word; 
word-break:normal;
overflow:hidden;
text-overflow: ellipsis;
}
div.block-right{
display:inline-block;
height:100%;
width:2px;
float:right;
}
div.block-left{
display:inline-block;
height:100%;
width:85%;
overflow:hidden;
word-wrap:break-word; 
word-break:normal;
margin-top:5px;
padding-left:20px;
cursor:pointer;
background:#D4D4D4;

filter:alpha(opacity=65);
-moz-opacity:0.65;
opacity:0.65;
}
hr.hor{
position:relative;
width:90%;
}
hr.vertical{
width:1px;
height:100%;
display:inline-block;
float:right;
}

div.hspace{
width:100%;
height:5px;
}
  
.item{
	position:relative;width:15%; height:150px; background:rgba(153,153,102,0.9); display:inline-block;
	margin:5px 5px 5px 5px; padding:50px 0px 10px 0px; overflow:hidden; cursor:pointer; border-radius:25px;
}
a.itembutton{
	position:absolute; border-radius:50px; text-align:center;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0px;top:2px; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a.itembutton-bottom{
	position:absolute; border-radius:50px; text-align:center;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0px;bottom:2px; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}

a.itembutton-todo{
	position:absolute; border-radius:50px;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0;top:0; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a.itembutton-done{
	position:absolute; border-radius:50px;
	width:100%; text-decoration:none; padding:10px 0px 0px 0px;
	height:30px; left:0;top:0; background-color:rgba(255,153,153,0.2); display:none; font-size:12px; font-weight:bold;
}
a:hover{ color:#00F;}

.item div { color:#000; font-size:12px; font-weight:300; padding: 0px 5px 15px 5px; word-break:break-all; word-wrap:normal; overflow:hidden}
p strong{ font-weight:bold;}
.applyimg{width:30px; height:30px; position:absolute; top:2px;left:40px; display:inline-block}
.jPaginatorOver {
            float:left;
            width:30px;
            height:20px;
            background-color:#BCF2D5;
            text-align:center;
            margin:0 2px 0 2px;
        }
.jPaginatorMax {
            float:left;
            width:30px;
            height:20px;
            background-color:#5FAABC;
            cursor:pointer;
            text-align:center;
        }

.debug{position:absolute; top:200px; left:50px; width:700px; height:400px; background-color:#966; z-index:3; display:none; overflow:scroll}

.detailWindow{ position:absolute;width:600px; height:400px; background-color:rgba(153,204,204,0.6); overflow:hidden; display:none}

.detailWindow p { position:absolute; top:10px; left:0px; width:100%; height:90%; overflow:scroll;}
.detailWindow  a { position:absolute; padding-top:8px;left:0px;bottom:0px; width:100%; height:9%; background-color:rgba(153,102,0,0.6);}
.detailWindow a:hover { color:#00F; background-color:rgba(0,102,51,0.5)}

.tips{ position:absolute; width:100%; height:300px; bottom:0px; background-color:#000; display:none; overflow:hidden; display:none;}
.tips h3 { color:#F00; font-size:14px; font-weight:bold}
.tips p{ color:#FFF; font-size:12px;}
.tips img { width:30px; height:30px; position:absolute; right:3px; top:5px;}
.tips .tips-content { position:absolute; padding:2px 5px 2px 5px; top:38px; right:0px; width:90%; bottom:60px;overflow-x:hidden; overflow-y:scroll;}
.tips .btn { position:absolute; top:250px; width:100%; height:30px; color:#FFF; font-size:14px; font-weight:bold}
.tips a{ position:relative; padding-top:10px;background-color:#333; border-color:#F00; width:200px; height:30px; color:#000}
.tips a:hover{ background-color:#396}

span.number{ background-color:#F00; color:#00F; position:absolute; border-radius:10px; width:20px; height:20px; display:none;}
